.div1{
    width: 400px;
    height: 400px;
    background-color: black;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
    padding-right: 50px;
}
p{
    color: white;
}
.div2{
    width: 400px;
    height: 400px;
    background-color: black;
    padding: 50px 20px 80px 90px;
}