h1{
    color: teal;
}
h2{
    color: rgba(0, 240, 128, 0.1);
}
p{
    color: #8EB69B;
}
.box{
    height: 400px;
    width: 400px;
    background: linear-gradient(45deg,#686de0,#130f40);
}
.box1{
    height: 400px;
    width: 400px;
    background: radial-gradient(#535c68,#6ab04c);
}